html{
	padding: 0px;
	height: 100%;
}
body{
	margin: 0px;
	background-color: #bfbfbf;
	font-family: "Constantia","Bookman Old Style";
	background-repeat: no-repeat;
				height: 100%;
	}
.topBar{
	width: 100%;
	text-align: center;
	background-color: darkgreen;
	vertical-align: center;
	/* background: linear-gradient(rgb(0, 153, 10),rgb(0, 128, 26)); */
	background: linear-gradient(rgb(44, 43, 43),rgb(20, 20, 20));
	/* Set borders */
	border-style: solid;
	border-width: 8px;
	border-left: none;
	border-right: none;
	border-top: none;
	border-color: #a08000;
}
.topBarStyling{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 25px;
	color: #ffcc33;
	font-size: 36px;
	font-weight: 700;
	text-shadow: 1px 1px 20px #484700; 
}
.banner{
	height: 35%;
	width: 100%;
	/* background-image: url("./Images/banner-top.jpg"); */
	background-attachment: fixed;
	background-position: top;
	background-size: 100%;
	background-color: #2d0000;	
}
.mainContent{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	background-color: lightgrey;
	/* Border Radius Top */
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/* Border radius bottom */
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	/* Other border styling */
	border-style: solid;
	border-width: 2px;
	border-color: grey;
}
.mainContentInner{
	padding: 10px;
	font-family: "Constantia","Bookman Old Style";
	font-size: 16px;
	text-shadow: 1px 1px 3px #bbb; 
}
a{
	color: #007d7d;
	text-decoration: none;
}
a:hover{
	color: limegreen;
}
a:active{
	color: blue;
}
.imgFaceOuter{
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}
.imgFace{
	height: 100%;
	width: auto;
	border-style: double;
	border-width: 16px;
	border-color: #750042;
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
}
.align_center{
	text-align: center;
}


